<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>anyshop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishListController</display-name>
    <servlet-name>WishListController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.WishListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListController</servlet-name>
    <url-pattern>/WishListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionController</display-name>
    <servlet-name>OptionController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.OptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionController</servlet-name>
    <url-pattern>/OptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question_boardController</display-name>
    <servlet-name>Question_boardController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.Question_boardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question_boardController</servlet-name>
    <url-pattern>/Question_boardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewController</display-name>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/ReviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBoxController</display-name>
    <servlet-name>SearchBoxController</servlet-name>
    <servlet-class>com.syu.anyshop.controller.SearchBoxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBoxController</servlet-name>
    <url-pattern>/SearchBoxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Testcomplete</display-name>
    <servlet-name>Testcomplete</servlet-name>
    <servlet-class>com.syu.anyshop.controller.Testcomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testcomplete</servlet-name>
    <url-pattern>/Testcomplete</url-pattern>
  </servlet-mapping>
</web-app>